<%= form_with(model: @expense, local: true) do |form| %>
  <% if expense.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% expense.errors.full_messages.each do |message| %>
        <li class="alert alert-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="form-group mt-4">
    <%= form.label :"Invoice Number", class:"text-dark" %>
    <%= form.number_field :invoice_number, class:"form-control" %>
  </div>

  <div class="form-group mt-4">
    <%= form.label :name, class:"text-dark" %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="form-group mt-4">
    <%= form.label :amount, class:"text-dark" %>
    <%= form.number_field :amount, class:"form-control" %>
  </div>

  <div class="form-group mt-4">
    <%= form.label 'Group' %>
    <%= form.text_field :group, class:"form-control" %>
  </div>


  <% if !Current.employee.is_admin || request.original_url == 'http://localhost:3000/expenses/new'%>
    <div class="form-group mt-5">
    <%= form.submit 'Save', class: "btn btn-success form-control" %>
  </div>
 
  <%else%>
     <div class="form-group mt-5">
    <%= form.submit 'Approve',name: "approve", class: "btn btn-success form-control" %>
  </div>

  <div class="form-group mt-5">
    <%= form.submit 'Reject',name: "reject", class: "btn btn-danger form-control" %>
  </div>
  <%end%>
<% end %>
